*{
    background-color: azure;
}
#container{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(0, 87%, 68%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 86%, 59%);
}
button:active{
    background-color: hsl(0, 86%, 59%);
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
#diceResult{
    margin: 25px;
}
@keyframes roll {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  #diceImages img {
    width: 100px;
    margin: 10px;
    animation: roll 0.3s ease-in-out;
  }
  

